$background-color: rgb(252, 252, 245);
$primary-color: #D1CBDD;
$primary-hover-color: #c2b5de;
$secondary-color: #e2dfe9;
$accent-color: #D1CBDD;
$hover-color: grey;
$border-color: #D1CBDD;
$footer-background-color: #f3f1f5;
$footer-text-color: #6c6c80;
$text-color: #555;
$heading-color: #333;
$light-text-color: darkgray;
$card-color: whitesmoke;
$button-color: white;
