/* inicio */
body {
    background-color:rgb(252, 252, 245);
}

header {
    background-color:rgb(252, 252, 245);

}
  
.logo-inicio {
  position: relative;
  display: inline-block;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.primary{
    background-color:#D1CBDD;
    border: 5px;
    border-color: #EEF1F5;
    border-radius: 2rem;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
}

.primary:hover {
      background-color: #c2b5de;
}

.contenedor {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 1rem;
  justify-items: center;
  padding: 1.5rem;
}

.contenedor-imagen-home-1,
.contenedor-imagen-home-2 {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 1rem;
  align-items: center;
}

.contenedor img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: "Bungee Hairline", sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.parrafo {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.secondary {
  background-color: #D1CBDD;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  max-width: 250px;
  margin: 0 auto;
}

.secondary:hover {
  background-color: grey;
}

.sello {
  max-width: 250px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor {
    padding: 2rem;
  }

  .contenedor-imagen-home-1,
  .contenedor-imagen-home-2 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .parrafo {
    font-size: 1.1rem;
  }

  .secondary {
    font-size: 1rem;
  }

  .sello {
    max-width: 300px;
  }
}
@media (min-width: 1024px) {

.contenedor {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 1rem;
  justify-items: center;
  padding: 2rem;
}

.contenedor-imagen-home-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.contenedor-imagen-home- {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}


h1 {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 100;
    font-style: bold;
    font-size: 100px
}

.parrafo {
    font-family: 'Outfit', sans-serif;
    margin-bottom: 20px;

}


.secondary:hover {
    background-color: grey;
}



.sello {
  max-width: 300px;
  height: auto;
}
}

/* sección encontrarás */

.encontraras {
  padding: 6rem 4rem;
  text-align: center;
}

.subtitulo {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.contenedor-lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.lista {
  font-family: 'Outfit', sans-serif;
  text-align: left;
  font-size: 1rem;
  line-height: 2;
  list-style-type: disc;
  text-align: justify;
}

.imagen-encontraras {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
}

/* sección qué buscas */

.buscar {
  padding: 6rem 4rem;
  text-align: center;
}

.tabla-responsive {
  overflow-x: auto;
  width: 100%;
}

.table-buscar {
    font-family: 'Outfit', sans-serif;
    align-items: center;
    margin: 0 auto;
    border: 1px;
    border-color: #D1CBDD;
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;

}


td {
  width: 10%;
   text-align: center;
   vertical-align: top;
   border: 0.5px;
   border-style: solid;
   border-color:#D1CBDD;
}
th {
    background-color: #e2dfe9;
    text-align: center;
    color: grey;
}


.header {
    background-color: #e2dfe9;
    color: grey;
}


.cross {
    color: #D1CBDD;
}


/* nuestros lectores */

.lectores {
  padding: 6rem 4rem;
  text-align: center;
}

.grid-lectores {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-items: center;
}

.card {
  background-color: whitesmoke;
  border: 1px solid #D1CBDD;
  font-family: 'Outfit', sans-serif;
}

.avatar {
  width: 80px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .grid-lectores {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* form */

.unete {
  padding: 6rem 4rem;
  text-align: center;
}

.form {
  font-family: 'Outfit', sans-serif;
  background-color: whitesmoke;
  border: 1px solid #d8d0e8;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

/* footer */

.footer {
  display: grid;
  grid-template-areas:
    "title"
    "nav"
    "bottom";
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  background-color: #f3f1f5;
  padding: 4rem 2rem;
  color: #6c6c80;
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

.footer-title {
  grid-area: title;
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 1.3rem;
  color: #6c6c80;
}

.footer-nav {
  grid-area: nav;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-bottom: 0.5rem;
}

.footer-nav a {
  text-decoration: none;
  color: #6c6c80;
}

.footer-bottom {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.footer-logo {
  height: 40px;
}

@media (min-width: 1024px) {
  .footer {
    grid-template-areas:
      "title ."
      "nav ."
      "bottom bottom";
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .footer-nav ul {
    text-align: left;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}


/* SANTUARIO */

 .carousel-item img {
    height: 50vh; 
    object-fit: cover;
  }


@media (min-width: 1024px) {
.carousel-item img {
  width: 100vw;
  height: 100vh;
}
}

.santuario {
  padding: 6rem 4rem;
  text-align: center;
}

.grid-parque {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

.parque-texto {
  text-align: center;
}

.titulo-santuario {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

.descripcion-santuario {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-family: 'Outfit', sans-serif;
}


.botones-santuario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.parque-imagen {
  width: 100%;
  max-width: 500px;

}



/* Desktop */
@media (min-width: 1024px) {
  .santuario {
    padding-right: 0; 
  }

  .grid-parque {
    grid-template-columns: 1fr 900px;
    text-align: left;
  }

  .parque-imagen {
    width: 100%;
    height: auto;
    max-width: none;  
    border-radius: 2px;
  }
}

/* Santuario: Teatro */

.grid-teatro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

.teatro-texto {
  text-align: center;
}

.titulo-santuario {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

.descripcion-teatro {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-family: 'Outfit', sans-serif;
}


.botones-teatro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.teatro-imagen {
  width: 100%;
  max-width: 500px;

}



/* Desktop */
@media (min-width: 1024px) {
  .santuario {
    padding-left: 0; 
  }

  .grid-teatro {
    grid-template-columns: 1fr 900px;
    text-align: left;
  }

  .teatro-imagen {
    width: 100%;
    max-width: none;  
    border-radius: 2px;
  }
}

/* Santuario: Habitación */

.grid-habitacion {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

.habitacion-texto {
  text-align: center;
}

.titulo-habitacion {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

.descripcion-habitacion {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-family: 'Outfit', sans-serif;
}


.habitacion-imagen {
  width: 100%;
  max-width: 500px;

}



/* Desktop */
@media (min-width: 1024px) {
  .grid-habitacion {
    grid-template-columns: 900px 1fr;
    text-align: left;
  }

  .habitacion-imagen {
    width: 100%;
    height: auto;
    max-width: none;
    border-radius: 2px;
  }

  .habitacion-texto {
    text-align: center;
  }
}


/* Crónicas */

.cronicas {
  padding: 6rem 4rem;
  text-align: center;
}

.grid-cronicas {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-items: center;

}

.card-cronica {
  background-color: whitesmoke;
  border: 1px solid #D1CBDD;
  font-family: 'Outfit', sans-serif;
  padding: 10px;
}

@media (min-width: 1024px) {
  .grid-cronicas {
    grid-template-columns: repeat(3, 1fr);
  }
}

.portada {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.tertiary {
  border-radius: 2rem;
  color: darkgray;
  font-weight: bold;

}


/* Flujo y fuerza */

.masthead {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}

@media (min-width: 1024px) {
.masthead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}
}

.img-flujo {
  height: 600px;
  width: 100%;
  border-radius: 2rem;
}

.subtitulo-flujo {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-top: 6rem;
  text-align: left;
  padding-left: 0;
  font-weight: bold;
}

.parrafo-flujo {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  text-align: left;
  padding-left: 1;
}


.grid-respiracion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .grid-respiracion {
    grid-template-columns: 1fr;
  }
}

.card-respiracion {
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.card-respiracion img {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.card-respiracion h3 {
  margin: 0 0 1rem;
  font-size: 1.2rem;
  color: #333;
}

.card-respiracion p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
}


.separador {
  width: 100%;
  height: 1px;
  background-color: #d1cbdd; 
  opacity: 0.4;
  margin: 4rem auto
}


/* cards fuerza */

.titulo-fuerza {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-top: 6rem;
  text-align: left;
  padding-left: 0;
  font-weight: bold;
}

.grid-fuerza {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: auto;
  padding-top:  4rem;
  align-items: center;
}

.fuerza-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-fuerza {
  flex: 1fr;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  text-align: left;
  box-sizing: border-box;
}

.card-fuerza img {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.card-fuerza h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #222;
}

.card-fuerza p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.fuerza-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.descripcion-fuerza {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}



@media (max-width: 768px) {
  .grid-fuerza {
    grid-template-columns: 1fr;
  }

  .fuerza-cards {
    flex-direction: column;
  }

  .card-fuerza {
    width: 100%;
  }

  .fuerza-texto {
    order: -1;
    margin-top: 2rem;
  }
}


.imagen-final {
  width: 100%;
  height: auto;
  max-width: 1000px;
  border-radius: 2rem;
  margin-top: 2rem;
}

.subtitulo-conectar {
    font-family: 'Bungee Hairline', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-top: 6rem;
  text-align: center;
  padding-left: 0;
  font-weight: bold;

}